
.header{
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   justify-content:space-between;
   
    padding: 15px;
    
    box-shadow: 5px 0 8px  rgb(188, 173, 224);
}
/* ---------------------------------logodiv */
.logodiv{
    display: flex;
    align-items: center;

}
.headerlinks{
    text-decoration: none;
    font-size: 25px;
    margin: 0 30px;
    padding: 7px 15px;
    background-image: linear-gradient(to right,#FEDD8D 0 50%,transparent 0 50%);
    background-repeat: no-repeat;
    background-position: -100px;
    transition: 0.5s;
    
}
.headerlinks:hover{
    background-position: 100%;
}
